@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,500&display=swap");
body,
div {
    margin: 0;
    padding: 0;
}

.company-logo {
    margin: 40px 0 40px 0;
}
.company-logo img {
    width: 7rem;
}
