/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    background-color: grey;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon-burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: grey;
    font-size: 4vh;
}
