/* Style the navigation menu */
div.mobile-menu {
    overflow: hidden;
    position: relative;
    display: none;
    flex-direction: row;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
}
div.mobile-menu .company-logo {
    margin: 0;
}
/* Hide the links inside the navigation menu (except for logo/home) */
div.mobile-menu #myLinks {
    display: none;
}

div.mobile-menu #myLinks a {
    padding: 3vh 16px;
    text-decoration: none;
    font-size: 2.5vw;
    display: block;

    cursor: pointer;

    color: rgb(98, 96, 96);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

/* Style navigation menu links */
div.mobile-menu #myLinks i {
    color: rgb(23, 96, 241);
}

/* Style the hamburger menu */
div.mobile-menu a.icon-burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: grey;
    font-size: 7vh;
    text-decoration: none;
}
