/*Navigation bar styling*/
.container-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 50px;
    padding: 0.5rem 1rem;
}

.container-navbar ul.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container-navbar nav {
    flex-direction: row;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}

.container-navbar ul.navbar-menu li {
    text-align: left;
    border-bottom-style: none;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    padding-left: 3rem;
    padding-right: 0.5rem;
    color: rgb(98, 96, 96);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

.container-navbar ul.navbar-menu li:hover {
    opacity: 0.5;
    color: blue;
}
